<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin - Ürün Ekle | DezhTecarat</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body style="padding: 0; margin: 0; background: #f1f2f7">
  <div style="background: #273142">
    <span style="opacity: 0">Dezh Tecarat</span>
    <h1 style="font-family: 'Inter', sans-serif; color: white; margin-top: 0; margin-left: 25px; font-size: 20px; margin-bottom: 0">
      dezhtecarat | <span style="color: gray; font-size: 20px">ürün ekle</span>
    </h1>
    <span style="opacity: 0">Dezh Tecarat</span>
  </div>
  <br>
  <center style="font-family: 'Inter', sans-serif">
    <div class="site-wrapper">
    <a href="admin">Admin</a> > <a href="/admin/product">Ürün</a> > <a href="/admin/category/add">Kategori Ekle</a>
    <br>
      <br>
    <form method="post" enctype="multipart/form-data" style="overflow-x: auto; height: 55vh; display: flex; background: white; border-radius: 5px; padding: 15px; box-sizing: border-box; margin-bottom: 15px">
      <div style="flex: 1">
        <p>Kategori Adı</p>
        <input class="form-general-input" placeholder="Kategori Adı" name="category_name" type="text">
        <button style="background: #f27a1a; color: white" class="body-row-2-button">Kaydet</button>
      </div>
    </form>
  </div>
  </center>

</body>
</html>