<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>پرطرفدارترین محصولات در سایت خرید ایران، دژ تجارت</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="margin: 0; padding: 0">
    <center>
        <div class="site-wrapper">
            <div class="navbar">
                <div class="navbar-top-row desktop">
                    <span class="navbar-top-text navbar-top-text-first">
                        فروشنده شوید
                    </span>
                    <span class="navbar-top-text">
                        درباره ما
                    </span>
                    <span class="navbar-top-text">
                        راهنما
                    </span>
                    <span class="navbar-top-text">
                        کمپین ها
                    </span>
                </div>
                <div class="navbar-middle-row">
                    <div class="logo-wrapper">
                        <span class="logo-dezh">دژ</span> تجارت
                    </div>
                    <div class="search-wrapper desktop">
                        <div class="search-inputs-wrapper">
                            <input id="search-input-desktop" type="text" class="search-input" placeholder="محصول، دسته بندی یا برند را جستجو کنید">
                            <div class="search-input-button">
                                <i class="bi bi-search"></i>
                            </div>
                        </div>
                        <div id="autocomplete-wrapper-desktop" class="search-autocomplete-wrapper">

                        </div>
                    </div>
                    <div class="navbar-right-side-items">
                        <span onclick="document.location = '/profile'" class="navbar-right-side-item">
                            <i class="bi bi-person"></i>
                            <div class="navbar-right-side-item-text desktop">
                                ورود
                            </div>
                        </span>
                        <span class="navbar-right-side-item">
                            <i class="bi bi-bookmark-heart"></i>
                            <div class="navbar-right-side-item-text desktop">
                                موارد دلخواه من
                            </div>
                        </span>
                        <span class="navbar-right-side-item">
                            <i class="bi bi-basket"></i>
                            <div class="navbar-right-side-item-text desktop">
                                سبد خرید من
                            </div>
                        </span>
                    </div>
                </div>
                <div class="navbar-third-row mobile">
                    <div class="search-wrapper">
                        <div class="search-inputs-wrapper">
                            <input id="search-input-mobile" type="text" class="search-input" placeholder="محصول، دسته بندی یا برند را جستجو کنید">
                            <div class="search-input-button">
                                <i class="bi bi-search"></i>
                            </div>
                        </div>
                        <div id="autocomplete-wrapper-mobile" class="search-autocomplete-wrapper">

                        </div>
                    </div>
                </div>
                <div class="navbar-bottom-row">
                    <span class="navbar-category-text">
                        پوشاک
                    </span>
                    <span class="navbar-category-text">
                        کفش
                    </span>
                    <span class="navbar-category-text">
                        لوازم جانبی
                    </span>
                    <span class="navbar-category-text">
                        کیف
                    </span>
                    <span class="navbar-category-text">
                        لوازم خانگی
                    </span>
                    <span class="navbar-category-text">
                        لباس زیر
                    </span>
                    <span class="navbar-category-text">
                        لوازم آرایشی
                    </span>
                    <span class="navbar-category-text">
                        ورزشی
                    </span>
                </div>
                <div class="navbar-separator">
                    <div class="colored-block" style="background-color: #f27a1a">

                    </div>
                    <div class="colored-block" style="background-color: #49C7ED">

                    </div>
                    <div class="colored-block" style="background-color: #7723DB">

                    </div>
                    <div class="colored-block" style="background-color: #57B900">

                    </div>
                    <div class="colored-block" style="background-color: #5D196A">

                    </div>
                </div>
            </div>
            <div style="width: 100%; border-radius: 10px; margin-top: 25px; background-image: url('/static/home-banner-ad.png'); height: 450px; background-size: cover; background-position: center"></div>
            <div class="product-carousel-wrapper">
                <h2 class="carousel-title">پوشاک</h2>
                <div class="carousel">
                    {% for product in clothing.all_products %}
                    <div class="product-container" onclick="document.location = '/pdp/{{ product.id }}'">
                        <div style="background-image: url('{{ product.images.0.image_uri }}');" class="product-image">

                        </div>
                        <p class="product-name-text">{{ product.product_name }} <strong>{{ product.brand_name }}</strong></p>
                        <p class="product-price">{{ "{:,.2f}".format(product.product_price_in_liras * exchange_rate) }} تومان</p>
                        <button class="product-add-to-cart-button">
                            بررسی کردن
                        </button>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="brand-carousel-wrapper">
                <h1 class="carousel-title">برندهای پرطرفدار</h1>
                <div class="carousel">
                    <div class="brand-image" style="background-image: url('https://www.firstavenue.com.tr/cdn/Delivery/Public/Image/Download/waikiki-banner_zt7d8uy36w.jpg');">

                    </div>
                    <div class="brand-image" style="background-image: url('https://www.firstavenue.com.tr/cdn/Delivery/Public/Image/Download/mavi-banner_8c6nb67syc.jpg')">

                    </div>
                    <div class="brand-image" style="background-image: url('https://ringsavm.com.tr/Content/img/uploaded/storelogo/orginal/311023YgMqZMW0_a28a1b168259731.y3jvccwxmti1ldg4mcw0otmsodk.png')">

                    </div>
                </div>
            </div>
            <div class="product-carousel-wrapper product-carousel-secondary">
                <h2 class="carousel-title">آرایشی و بهداشتی</h2>
                <div class="carousel">
                    {% for product in accessories.all_products %}
                    <div class="product-container" onclick="document.location = '/pdp/{{ product.id }}'">
                        <div style="background-image: url('{{ product.images.0.image_uri }}');" class="product-image">

                        </div>
                        <p class="product-name-text">{{ product.product_name }} <strong>{{ product.brand_name }}</strong></p>
                        <p class="product-price">{{ "{:,.2f}".format(product.product_price_in_liras * exchange_rate) }} تومان</p>
                        <button class="product-add-to-cart-button">
                            بررسی کردن
                        </button>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="product-carousel-wrapper product-carousel-secondary">
                <h2 class="carousel-title">لوازم جانبی</h2>
                <div class="carousel">
                    {% for product in cosmetics.all_products %}
                    <div class="product-container" onclick="document.location = '/pdp/{{ product.id }}'">
                        <div style="background-image: url('{{ product.images.0.image_uri }}');" class="product-image">

                        </div>
                        <p class="product-name-text">{{ product.product_name }} <strong>{{ product.brand_name }}</strong></p>
                        <p class="product-price">{{ "{:,.2f}".format(product.product_price_in_liras * exchange_rate) }} تومان</p>
                        <button class="product-add-to-cart-button">
                            بررسی کردن
                        </button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="navbar-separator" style="margin-top: 25px">
            <div class="colored-block" style="background-color: #f27a1a">

            </div>
            <div class="colored-block" style="background-color: #49C7ED">

            </div>
            <div class="colored-block" style="background-color: #7723DB">

            </div>
            <div class="colored-block" style="background-color: #57B900">

            </div>
            <div class="colored-block" style="background-color: #5D196A">

            </div>
        </div>

        <div class="footer-desktop">
            <div class="footer-column">
                <p class="footer-column-title">شرکت</p>
                <a href="/about" class="footer-link">درباره ما</a>
                <a href="/support" class="footer-link">خدمات مشتریان</a>
                <a href="/careers" class="footer-link">مشاغل</a>
                <a href="/privacy" class="footer-link">امنیت داده ها</a>
                <a href="/security" class="footer-link">خرید امن</a>
            </div>
            <div class="footer-column">
                <p class="footer-column-title">دژ تجارت</p>
                <a href="/faq" class="footer-link">سوالات متداول</a>
                <a href="/campaigns" class="footer-link">کمپین ها</a>
                <a href="/guide" class="footer-link">راهنمای تراکنش</a>
            </div>
            <div class="footer-column desktop">
                <p class="footer-column-title">ما را دنبال کنید</p>
                <a href="/follow/instagram" class="footer-link"><i class="bi bi-instagram footer-icon"></i> <span class="footer-icon-text">اینستاگرام</span></a>
                <a href="/follow/tiktok" class="footer-link"><i class="bi bi-tiktok footer-icon"></i> <span class="footer-icon-text">تیک تاک</span></a>
                <a href="/follow/facebook" class="footer-link"><i class="bi bi-facebook footer-icon"></i> <span class="footer-icon-text">فیس بوک</span></a>
                <a href="/follow/x" class="footer-link"><i class="bi bi-twitter-x footer-icon"></i> <span class="footer-icon-text">ایکس</span></a>
                <a href="/follow/youtube" class="footer-link"><i class="bi bi-youtube footer-icon"></i> <span class="footer-icon-text">یوتیوب</span></a>
            </div>
            <div class="footer-column desktop">
                <p class="footer-column-title">سوالی دارید؟</p>
                <button class="contact-support-button" onclick="document.location = '/support'">با مرکز راه حل تماس بگیرید</button>
                <p class="footer-link">یا</p>
                <a href="mailto:info@dezhtecarat.com" class="footer-link footer-icon">info@dezhtecarat.com</a>
                <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=645242&Code=rVoYL5egNFBYxy6SpjV9Y2r0JMMWrdqJ'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=645242&Code=rVoYL5egNFBYxy6SpjV9Y2r0JMMWrdqJ' alt='' style='cursor:pointer' code='rVoYL5egNFBYxy6SpjV9Y2r0JMMWrdqJ'></a>
            </div>
        </div>
        <div class="footer-desktop mobile" style="padding-top: 5px">
            <div class="footer-column">
                <p class="footer-column-title">ما را دنبال کنید</p>
                <a href="/follow/instagram" class="footer-link"><i class="bi bi-instagram footer-icon"></i> <span class="footer-icon-text">اینستاگرام</span></a>
                <a href="/follow/tiktok" class="footer-link"><i class="bi bi-tiktok footer-icon"></i> <span class="footer-icon-text">تیک تاک</span></a>
                <a href="/follow/facebook" class="footer-link"><i class="bi bi-facebook footer-icon"></i> <span class="footer-icon-text">فیس بوک</span></a>
                <a href="/follow/x" class="footer-link"><i class="bi bi-twitter-x footer-icon"></i> <span class="footer-icon-text">ایکس</span></a>
                <a href="/follow/youtube" class="footer-link"><i class="bi bi-youtube footer-icon"></i> <span class="footer-icon-text">یوتیوب</span></a>
            </div>
            <br>
            <div class="footer-column">
                <p class="footer-column-title">سوالی دارید؟</p>
                <button class="contact-support-button" onclick="document.location = '/support'">با مرکز راه حل تماس بگیرید</button>
                <p class="footer-link">یا</p>
                <a href="mailto:info@dezhtecarat.com" class="footer-link footer-icon">info@dezhtecarat.com</a>
                <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=645242&Code=rVoYL5egNFBYxy6SpjV9Y2r0JMMWrdqJ'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=645242&Code=rVoYL5egNFBYxy6SpjV9Y2r0JMMWrdqJ' alt='' style='cursor:pointer' code='rVoYL5egNFBYxy6SpjV9Y2r0JMMWrdqJ'></a>
            </div>
        </div>
    </center>
    <script src="/scripts/search.js"></script>
</body>
</html>