<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>پرطرفدارترین محصولات در سایت خرید ایران، دژ تجارت</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="margin: 0; padding: 0">
    <center>
        <div class="site-wrapper">
            <div class="navbar">
                <div class="navbar-top-row desktop">
                    <span class="navbar-top-text navbar-top-text-first">
                        فروشنده شوید
                    </span>
                    <span class="navbar-top-text">
                        درباره ما
                    </span>
                    <span class="navbar-top-text">
                        راهنما
                    </span>
                    <span class="navbar-top-text">
                        کمپین ها
                    </span>
                </div>
                <div class="navbar-middle-row">
                    <div class="logo-wrapper">
                        <span class="logo-dezh">دژ</span> تجارت
                    </div>
                    <div class="search-wrapper desktop">
                        <div class="search-inputs-wrapper">
                            <input id="search-input-desktop" type="text" class="search-input" placeholder="محصول، دسته بندی یا برند را جستجو کنید">
                            <div class="search-input-button">
                                <i class="bi bi-search"></i>
                            </div>
                        </div>
                        <div id="autocomplete-wrapper-desktop" class="search-autocomplete-wrapper">

                        </div>
                    </div>
                    <div class="navbar-right-side-items">
                        <span onclick="document.location = '/profile'" class="navbar-right-side-item">
                            <i class="bi bi-person"></i>
                            <div class="navbar-right-side-item-text desktop">
                                ورود
                            </div>
                        </span>
                        <span class="navbar-right-side-item">
                            <i class="bi bi-bookmark-heart"></i>
                            <div class="navbar-right-side-item-text desktop">
                                موارد دلخواه من
                            </div>
                        </span>
                        <span class="navbar-right-side-item">
                            <i class="bi bi-basket"></i>
                            <div class="navbar-right-side-item-text desktop">
                                سبد خرید من
                            </div>
                        </span>
                    </div>
                </div>
                <div class="navbar-third-row mobile">
                    <div class="search-wrapper">
                        <div class="search-inputs-wrapper">
                            <input id="search-input-mobile" type="text" class="search-input" placeholder="محصول، دسته بندی یا برند را جستجو کنید">
                            <div class="search-input-button">
                                <i class="bi bi-search"></i>
                            </div>
                        </div>
                        <div id="autocomplete-wrapper-mobile" class="search-autocomplete-wrapper">

                        </div>
                    </div>
                </div>
                <div class="navbar-bottom-row">
                    <span class="navbar-category-text">
                        پوشاک
                    </span>
                    <span class="navbar-category-text">
                        کفش
                    </span>
                    <span class="navbar-category-text">
                        لوازم جانبی
                    </span>
                    <span class="navbar-category-text">
                        کیف
                    </span>
                    <span class="navbar-category-text">
                        لوازم خانگی
                    </span>
                    <span class="navbar-category-text">
                        لباس زیر
                    </span>
                    <span class="navbar-category-text">
                        لوازم آرایشی
                    </span>
                    <span class="navbar-category-text">
                        ورزشی
                    </span>
                </div>
                <div class="navbar-separator">
                    <div class="colored-block" style="background-color: #f27a1a">

                    </div>
                    <div class="colored-block" style="background-color: #49C7ED">

                    </div>
                    <div class="colored-block" style="background-color: #7723DB">

                    </div>
                    <div class="colored-block" style="background-color: #57B900">

                    </div>
                    <div class="colored-block" style="background-color: #5D196A">

                    </div>
                </div>
            </div>
            <div class="body-row-1">
                <div class="row-1-item">
                    <img src="https://cdn.dsmcdn.com/mnresize/200/200/homepage/prod/2024-12-03/fd783d97-77c9-4def-bc34-6a3baad268be.png" class="row-1-item-image">
                    <br>
                    <span class="row-1-item-text">جدیدها</span>
                </div>
                <div class="row-1-item">
                    <img src="https://cdn.dsmcdn.com/mnresize/200/200/homepage/prod/2024-12-03/af030a99-0c34-40a0-9228-64e3cf462eae.png" class="row-1-item-image">
                    <br>
                    <span class="row-1-item-text">محصولات تخفیف‌دار</span>
                </div>
                <div class="row-1-item">
                    <img src="https://cdn.dsmcdn.com/mnresize/200/200/homepage/prod/2024-12-03/85e24984-319b-4927-a127-ac3295d0152d.png" class="row-1-item-image">
                    <br>
                    <span class="row-1-item-text">محصولات پرطرفدار</span>
                </div>
                <div class="row-1-item">
                    <img src="https://cdn.dsmcdn.com/mnresize/200/200/homepage/prod/2024-12-03/4dbbf828-dbe2-4f79-a049-4de11755eac1.png" class="row-1-item-image">
                    <br>
                    <span class="row-1-item-text">محصولات ویژه</span>
                </div>
                <div class="row-1-item">
                    <img src="https://cdn.dsmcdn.com/mnresize/200/200/homepage/prod/2024-12-03/2194f8d3-f1f7-4f2b-8ba4-b4ff23d9187c.png" class="row-1-item-image">
                    <br>
                    <span class="row-1-item-text">محصولات فصلی</span>
                </div>
            </div>
            <div class="body-row-2">
                <button style="background-color: rgba(242,122,26,0.3); color: #f27a1a" class="body-row-2-button">
                    محبوب ترین ها
                </button>
                <button style="background-color: rgba(73,199,237,0.3); color: #49C7ED" class="body-row-2-button">
                    پر فروش ترین ها
                </button>
                <button style="background-color: rgba(87,185,0,0.3); color: #57B900" class="body-row-2-button">
                    برندهای برجسته
                </button>
            </div>
            <div class="product-carousel-wrapper">
                <h2 class="carousel-title">محصولات پرطرفدار</h2>
                <div class="carousel">
                    <div class="product-container" onclick="(document.location = '/pdp/1')">
                        <div style="background-image: url('https://cdn.dsmcdn.com/ty1685/prod/QC/20250526/21/b9356304-a355-309e-b0ba-a30bc4d53e4a/1_org_zoom.jpg');" class="product-image">

                        </div>
                        <p class="product-name-text"><strong>پنتی</strong> پیراهن ساتن طرح‌دار فلور و شلوار راه‌راه مشکی...</p>
                        <p class="product-price">399.99 ₺</p>
                        <button class="product-add-to-cart-button">
                            افزودن به سبد خرید
                        </button>
                    </div>
                    <div class="product-container">
                        <div style="background-image: url('https://cdn.dsmcdn.com/ty1679/prod/QC/20250512/10/a75e9149-a02c-3237-82cc-d0a7799b48a1/1_org_zoom.jpg');" class="product-image">

                        </div>
                        <p class="product-name-text"><strong>مادام کوکو</strong> روئت ست ملحفه یک نفره ۱۰۰% پنبه...</p>
                        <p class="product-price">324.00 ₺</p>
                        <button class="product-add-to-cart-button">
                            افزودن به سبد خرید
                        </button>
                    </div>
                    <div class="product-container">
                        <div style="background-image: url('https://cdn.dsmcdn.com/ty1642/prod/QC/20250224/07/40a8316d-7c5e-3ff3-9e69-d99757c4e95b/1_org_zoom.jpg');" class="product-image">

                        </div>
                        <p class="product-name-text"><strong>H&M</strong> شلوار گشاد</p>
                        <p class="product-price">619.99 ₺</p>
                        <button class="product-add-to-cart-button">
                            افزودن به سبد خرید
                        </button>
                    </div>
                    <div class="product-container">
                        <div style="background-image: url('https://cdn.dsmcdn.com/ty1506/product/media/images/prod/QC/20240827/10/c8fd0cdf-f7b9-3980-af8a-c4540edbcfee/1_org_zoom.jpg');" class="product-image">

                        </div>
                        <p class="product-name-text"><strong>کوتون</strong> شلوار کمربنددار، دمپای صاف، جیب‌دار...</p>
                        <p class="product-price">999.99 ₺</p>
                        <button class="product-add-to-cart-button">
                            افزودن به سبد خرید
                        </button>
                    </div>
                    <div class="product-container">
                        <div style="background-image: url('https://cdn.dsmcdn.com/ty1579/prod/QC/20241004/19/ee7931d6-54df-3927-ac17-55a1c62f5bb2/1_org_zoom.jpg');" class="product-image">

                        </div>
                        <p class="product-name-text"><strong>H&M</strong> لباس یقه گرد و آستین‌دار</p>
                        <p class="product-price">619.99 ₺</p>
                        <button class="product-add-to-cart-button">
                            افزودن به سبد خرید
                        </button>
                    </div>
                </div>
            </div>
            <div class="brand-carousel-wrapper">
                <h1 class="carousel-title">برندهای پرطرفدار</h1>
                <div class="carousel">
                    <div class="brand-image" style="background-image: url('https://www.firstavenue.com.tr/cdn/Delivery/Public/Image/Download/waikiki-banner_zt7d8uy36w.jpg');">

                    </div>
                    <div class="brand-image" style="background-image: url('https://www.firstavenue.com.tr/cdn/Delivery/Public/Image/Download/mavi-banner_8c6nb67syc.jpg')">

                    </div>
                    <div class="brand-image" style="background-image: url('https://ringsavm.com.tr/Content/img/uploaded/storelogo/orginal/311023YgMqZMW0_a28a1b168259731.y3jvccwxmti1ldg4mcw0otmsodk.png')">

                    </div>
                </div>
            </div>
            <div class="product-carousel-wrapper product-carousel-secondary">
                <h2 class="carousel-title">پوشاک</h2>
                <div class="carousel">
                    <div class="product-container">
                        <div style="background-image: url('https://cdn.dsmcdn.com/ty1553/prod/QC/20240917/08/744b6b35-258e-3d38-ba84-b5a1ea960284/1_org_zoom.jpg');" class="product-image">

                        </div>
                        <p class="product-name-text"><strong>U.S. Polo Assn.</strong> شلوار جین زنانه سفید مام استایل...</p>
                        <p class="product-price">923.26 ₺</p>
                        <button class="product-add-to-cart-button">
                            افزودن به سبد خرید
                        </button>
                    </div>
                    <div class="product-container">
                        <div style="background-image: url('https://cdn.dsmcdn.com/ty1633/prod/QC/20250206/18/4147eaa9-0fcf-37d0-9471-ff9933535020/1_org_zoom.jpg');" class="product-image">

                        </div>
                        <p class="product-name-text"><strong>برشکا</strong> شلوار زنانه روستیک</p>
                        <p class="product-price">1100.00 ₺</p>
                        <button class="product-add-to-cart-button">
                            افزودن به سبد خرید
                        </button>
                    </div>
                    <div class="product-container">
                        <div style="background-image: url('https://cdn.dsmcdn.com/ty1648/prod/QC/20250307/16/08b8a0db-55a2-3d14-a56c-46bdb756cefd/1_org_zoom.jpg');" class="product-image">

                        </div>
                        <p class="product-name-text"><strong>U.S. Polo Assn.</strong> پیراهن مردانه مشکی یقه اسکوپ اورسایز...</p>
                        <p class="product-price">450.00 ₺</p>
                        <button class="product-add-to-cart-button">
                            افزودن به سبد خرید
                        </button>
                    </div>
                    <div class="product-container">
                        <div style="background-image: url('https://cdn.dsmcdn.com/ty1685/prod/QC/20250526/01/c134b7ed-bba0-3df3-9290-f8d07ff2354b/1_org_zoom.jpg');" class="product-image">

                        </div>
                        <p class="product-name-text"><strong>ماوی</strong> تی‌شرت سفید طرح‌دار میو، مناسب،...</p>
                        <p class="product-price">329.00 ₺</p>
                        <button class="product-add-to-cart-button">
                            افزودن به سبد خرید
                        </button>
                    </div>
                    <div class="product-container">
                        <div style="background-image: url('https://cdn.dsmcdn.com/ty1549/prod/QC/20240916/19/3a315bf4-c867-3945-ae49-155e4357f528/1_org_zoom.jpg');" class="product-image">

                        </div>
                        <p class="product-name-text"><strong>U.S. Polo Assn.</strong> شلوار جین زنانه آبی روشن مام...</p>
                        <p class="product-price">1827.96 ₺</p>
                        <button class="product-add-to-cart-button">
                            افزودن به سبد خرید
                        </button>
                    </div>
                </div>
            </div>
            <img src="/static/home-banner-ad.png" style="width: 100%; border-radius: 10px; margin-top: 25px" alt="">
            <div class="product-carousel-wrapper product-carousel-secondary">
                <h2 class="carousel-title">پیشنهادات</h2>
                <div class="carousel">
                    <div class="product-container">
                        <div style="background-image: url('https://cdn.dsmcdn.com/ty1553/prod/QC/20240917/08/744b6b35-258e-3d38-ba84-b5a1ea960284/1_org_zoom.jpg');" class="product-image">

                        </div>
                        <p class="product-name-text"><strong>U.S. Polo Assn.</strong> شلوار جین زنانه سفید مام استایل...</p>
                        <p class="product-price">923.26 ₺</p>
                        <button class="product-add-to-cart-button">
                            افزودن به سبد خرید
                        </button>
                    </div>
                    <div class="product-container">
                        <div style="background-image: url('https://cdn.dsmcdn.com/ty1633/prod/QC/20250206/18/4147eaa9-0fcf-37d0-9471-ff9933535020/1_org_zoom.jpg');" class="product-image">

                        </div>
                        <p class="product-name-text"><strong>برشکا</strong> شلوار زنانه روستیک</p>
                        <p class="product-price">1100.00 ₺</p>
                        <button class="product-add-to-cart-button">
                            افزودن به سبد خرید
                        </button>
                    </div>
                    <div class="product-container">
                        <div style="background-image: url('https://cdn.dsmcdn.com/ty1648/prod/QC/20250307/16/08b8a0db-55a2-3d14-a56c-46bdb756cefd/1_org_zoom.jpg');" class="product-image">

                        </div>
                        <p class="product-name-text"><strong>U.S. Polo Assn.</strong> پیراهن مردانه مشکی یقه اسکوپ اورسایز...</p>
                        <p class="product-price">450.00 ₺</p>
                        <button class="product-add-to-cart-button">
                            افزودن به سبد خرید
                        </button>
                    </div>
                    <div class="product-container">
                        <div style="background-image: url('https://cdn.dsmcdn.com/ty1685/prod/QC/20250526/01/c134b7ed-bba0-3df3-9290-f8d07ff2354b/1_org_zoom.jpg');" class="product-image">

                        </div>
                        <p class="product-name-text"><strong>ماوی</strong> تی‌شرت سفید طرح‌دار میو، مناسب،...</p>
                        <p class="product-price">329.00 ₺</p>
                        <button class="product-add-to-cart-button">
                            افزودن به سبد خرید
                        </button>
                    </div>
                    <div class="product-container">
                        <div style="background-image: url('https://cdn.dsmcdn.com/ty1549/prod/QC/20240916/19/3a315bf4-c867-3945-ae49-155e4357f528/1_org_zoom.jpg');" class="product-image">

                        </div>
                        <p class="product-name-text"><strong>U.S. Polo Assn.</strong> شلوار جین زنانه آبی روشن مام...</p>
                        <p class="product-price">1827.96 ₺</p>
                        <button class="product-add-to-cart-button">
                            افزودن به سبد خرید
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-separator" style="margin-top: 25px">
            <div class="colored-block" style="background-color: #f27a1a">

            </div>
            <div class="colored-block" style="background-color: #49C7ED">

            </div>
            <div class="colored-block" style="background-color: #7723DB">

            </div>
            <div class="colored-block" style="background-color: #57B900">

            </div>
            <div class="colored-block" style="background-color: #5D196A">

            </div>
        </div>
        <div class="footer-desktop">
            <div class="footer-column">
                <p class="footer-column-title">شرکت</p>
                <a href="/about" class="footer-link">درباره ما</a>
                <a href="/support" class="footer-link">خدمات مشتریان</a>
                <a href="/careers" class="footer-link">مشاغل</a>
                <a href="/privacy" class="footer-link">امنیت داده ها</a>
                <a href="/security" class="footer-link">خرید امن</a>
            </div>
            <div class="footer-column">
                <p class="footer-column-title">دژ تجارت</p>
                <a href="/faq" class="footer-link">سوالات متداول</a>
                <a href="/campaigns" class="footer-link">کمپین ها</a>
                <a href="/guide" class="footer-link">راهنمای تراکنش</a>
            </div>
            <div class="footer-column desktop">
                <p class="footer-column-title">ما را دنبال کنید</p>
                <a href="/follow/instagram" class="footer-link"><i class="bi bi-instagram footer-icon"></i> <span class="footer-icon-text">اینستاگرام</span></a>
                <a href="/follow/tiktok" class="footer-link"><i class="bi bi-tiktok footer-icon"></i> <span class="footer-icon-text">تیک تاک</span></a>
                <a href="/follow/facebook" class="footer-link"><i class="bi bi-facebook footer-icon"></i> <span class="footer-icon-text">فیس بوک</span></a>
                <a href="/follow/x" class="footer-link"><i class="bi bi-twitter-x footer-icon"></i> <span class="footer-icon-text">ایکس</span></a>
                <a href="/follow/youtube" class="footer-link"><i class="bi bi-youtube footer-icon"></i> <span class="footer-icon-text">یوتیوب</span></a>
            </div>
            <div class="footer-column desktop">
                <p class="footer-column-title">سوالی دارید؟</p>
                <button class="contact-support-button" onclick="document.location = '/support'">با مرکز راه حل تماس بگیرید</button>
                <p class="footer-link">یا</p>
                <a href="mailto:info@dezhtecarat.com" class="footer-link footer-icon">info@dezhtecarat.com</a>
            </div>
        </div>
        <div class="footer-desktop mobile" style="padding-top: 5px">
            <div class="footer-column">
                <p class="footer-column-title">ما را دنبال کنید</p>
                <a href="/follow/instagram" class="footer-link"><i class="bi bi-instagram footer-icon"></i> <span class="footer-icon-text">اینستاگرام</span></a>
                <a href="/follow/tiktok" class="footer-link"><i class="bi bi-tiktok footer-icon"></i> <span class="footer-icon-text">تیک تاک</span></a>
                <a href="/follow/facebook" class="footer-link"><i class="bi bi-facebook footer-icon"></i> <span class="footer-icon-text">فیس بوک</span></a>
                <a href="/follow/x" class="footer-link"><i class="bi bi-twitter-x footer-icon"></i> <span class="footer-icon-text">ایکس</span></a>
                <a href="/follow/youtube" class="footer-link"><i class="bi bi-youtube footer-icon"></i> <span class="footer-icon-text">یوتیوب</span></a>
            </div>
            <br>
            <div class="footer-column">
                <p class="footer-column-title">سوالی دارید؟</p>
                <button class="contact-support-button" onclick="document.location = '/support'">با مرکز راه حل تماس بگیرید</button>
                <p class="footer-link">یا</p>
                <a href="mailto:info@dezhtecarat.com" class="footer-link footer-icon">info@dezhtecarat.com</a>
            </div>
        </div>
    </center>
    <script src="/scripts/search.js"></script>
</body>
</html>