<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> | دژ تجارت</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/pdp.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

<body style="margin: 0; padding: 0">
    <center>
        <div class="site-wrapper">
            <div class="navbar">
                <div class="navbar-top-row desktop">
                    <span class="navbar-top-text navbar-top-text-first">
                        فروشنده شوید
                    </span>
                    <span class="navbar-top-text">
                        درباره ما
                    </span>
                    <span class="navbar-top-text">
                        راهنما
                    </span>
                    <span class="navbar-top-text">
                        کمپین ها
                    </span>
                </div>
                <div class="navbar-middle-row">
                    <div onclick="document.location = '/'" class="logo-wrapper">
                        <span class="logo-dezh">دژ</span> تجارت
                    </div>
                    <div class="search-wrapper desktop">
                        <div class="search-inputs-wrapper">
                            <input id="search-input-desktop" type="text" class="search-input" placeholder="محصول، دسته بندی یا برند را جستجو کنید">
                            <div class="search-input-button">
                                <i class="bi bi-search"></i>
                            </div>
                        </div>
                        <div id="autocomplete-wrapper-desktop" class="search-autocomplete-wrapper">

                        </div>
                    </div>
                    <div class="navbar-right-side-items">
                        <span onclick="document.location = '/profile'" class="navbar-right-side-item">
                            <i class="bi bi-person"></i>
                            <div class="navbar-right-side-item-text desktop">
                                ورود
                            </div>
                        </span>
                        <span class="navbar-right-side-item">
                            <i class="bi bi-bookmark-heart"></i>
                            <div class="navbar-right-side-item-text desktop">
                                موارد دلخواه من
                            </div>
                        </span>
                        <span class="navbar-right-side-item">
                            <i class="bi bi-basket"></i>
                            <div class="navbar-right-side-item-text desktop">
                                سبد خرید من
                            </div>
                        </span>
                    </div>
                </div>
                <div class="navbar-third-row mobile">
                    <div class="search-inputs-wrapper">
                        <input id="search-input-mobile" type="text" class="search-input" placeholder="محصول، دسته بندی یا برند را جستجو کنید">
                        <div class="search-input-button">
                            <i class="bi bi-search"></i>
                        </div>
                    </div>
                    <div id="autocomplete-wrapper-mobile" class="search-autocomplete-wrapper">

                    </div>
                </div>
                <div class="navbar-bottom-row">
                    <span class="navbar-category-text">
                        پوشاک
                    </span>
                    <span class="navbar-category-text">
                        کفش
                    </span>
                    <span class="navbar-category-text">
                        لوازم جانبی
                    </span>
                    <span class="navbar-category-text">
                        کیف
                    </span>
                    <span class="navbar-category-text">
                        لوازم خانگی
                    </span>
                    <span class="navbar-category-text">
                        لباس زیر
                    </span>
                    <span class="navbar-category-text">
                        لوازم آرایشی
                    </span>
                    <span class="navbar-category-text">
                        ورزشی
                    </span>
                </div>
                <div class="navbar-separator">
                    <div class="colored-block" style="background-color: #f27a1a">

                    </div>
                    <div class="colored-block" style="background-color: #49C7ED">

                    </div>
                    <div class="colored-block" style="background-color: #7723DB">

                    </div>
                    <div class="colored-block" style="background-color: #57B900">

                    </div>
                    <div class="colored-block" style="background-color: #5D196A">

                    </div>
                </div>
            </div>
            <div class="product-details-wrapper">
                <div class="product-images-wrapper">
                    <img id="product-main-image" src="https://cdn.dsmcdn.com/ty1685/prod/QC/20250526/21/b9356304-a355-309e-b0ba-a30bc4d53e4a/1_org_zoom.jpg" alt="">
                    <center class="product-image-selector">
                        <img onclick="document.getElementById('product-main-image').src = this.src" class="product-image-selector-image" src="https://cdn.dsmcdn.com/mnresize/128/192/ty1685/prod/QC/20250526/21/b9356304-a355-309e-b0ba-a30bc4d53e4a/1_org_zoom.jpg" alt="">
                        <img onclick="document.getElementById('product-main-image').src = this.src" class="product-image-selector-image" src="https://cdn.dsmcdn.com/mnresize/128/192/ty1685/prod/QC/20250526/21/beaeedea-c8f3-33dc-8324-598a0e0723fc/1_org_zoom.jpg" alt="">
                        <img onclick="document.getElementById('product-main-image').src = this.src" class="product-image-selector-image" src="https://cdn.dsmcdn.com/mnresize/128/192/ty1683/prod/QC/20250526/21/02c961bd-5a68-30e5-b1ac-d2071a7181b6/1_org_zoom.jpg" alt="">
                        <img onclick="document.getElementById('product-main-image').src = this.src" class="product-image-selector-image" src="https://cdn.dsmcdn.com/mnresize/128/192/ty1685/prod/QC/20250526/21/d3f012da-2dbc-3fc6-93bb-f984b01d7b3f/1_org_zoom.jpg" alt="">
                        <img onclick="document.getElementById('product-main-image').src = this.src" class="product-image-selector-image" src="https://cdn.dsmcdn.com/mnresize/128/192/ty1685/prod/QC/20250526/21/b9356304-a355-309e-b0ba-a30bc4d53e4a/1_org_zoom.jpg" alt="">
                        <img onclick="document.getElementById('product-main-image').src = this.src" class="product-image-selector-image" src="https://cdn.dsmcdn.com/mnresize/128/192/ty1685/prod/QC/20250526/21/b9356304-a355-309e-b0ba-a30bc4d53e4a/1_org_zoom.jpg" alt="">
                        <img onclick="document.getElementById('product-main-image').src = this.src" class="product-image-selector-image" src="https://cdn.dsmcdn.com/mnresize/128/192/ty1685/prod/QC/20250526/21/beaeedea-c8f3-33dc-8324-598a0e0723fc/1_org_zoom.jpg" alt="">
                        <img onclick="document.getElementById('product-main-image').src = this.src" class="product-image-selector-image" src="https://cdn.dsmcdn.com/mnresize/128/192/ty1683/prod/QC/20250526/21/02c961bd-5a68-30e5-b1ac-d2071a7181b6/1_org_zoom.jpg" alt="">
                        <img onclick="document.getElementById('product-main-image').src = this.src" class="product-image-selector-image" src="https://cdn.dsmcdn.com/mnresize/128/192/ty1685/prod/QC/20250526/21/d3f012da-2dbc-3fc6-93bb-f984b01d7b3f/1_org_zoom.jpg" alt="">
                        <img onclick="document.getElementById('product-main-image').src = this.src" class="product-image-selector-image" src="https://cdn.dsmcdn.com/mnresize/128/192/ty1685/prod/QC/20250526/21/b9356304-a355-309e-b0ba-a30bc4d53e4a/1_org_zoom.jpg" alt="">
                        <img onclick="document.getElementById('product-main-image').src = this.src" class="product-image-selector-image" src="https://cdn.dsmcdn.com/mnresize/128/192/ty1685/prod/QC/20250526/21/beaeedea-c8f3-33dc-8324-598a0e0723fc/1_org_zoom.jpg" alt="">
                        <img onclick="document.getElementById('product-main-image').src = this.src" class="product-image-selector-image" src="https://cdn.dsmcdn.com/mnresize/128/192/ty1683/prod/QC/20250526/21/02c961bd-5a68-30e5-b1ac-d2071a7181b6/1_org_zoom.jpg" alt="">
                        <img onclick="document.getElementById('product-main-image').src = this.src" class="product-image-selector-image" src="https://cdn.dsmcdn.com/mnresize/128/192/ty1685/prod/QC/20250526/21/d3f012da-2dbc-3fc6-93bb-f984b01d7b3f/1_org_zoom.jpg" alt="">
                    </center>
                </div>
                <div class="product-information-wrapper desktop">
                    <h2 class="product-title"><strong>پنتی</strong> پیراهن ساتن فلور، شلوار، پیراهن راه‌راه مشکی - مجموعه عشق پاریس</h2>
                    <div class="product-average-ratings-wrapper">
                        <div class="rating-score">
                            3.5
                        </div>
                        <div class="starts">
                            <i class="bi bi-star-fill"></i>
                        </div>
                        <strong class="ratings-separator">
                            -
                        </strong>
                        <div class="number-of-ratings">
                            <strong>55</strong> امتیاز
                        </div>
                    </div>
                    <div class="dezh-tecarat-guarantee">
                        <i class="bi bi-patch-check-fill"></i> گارانتی دژ تجارت!
                    </div>
                    <div class="product-price-wrapper">
                        <h1 class="product-price-title">399.99 TL</h1>
                    </div>
                    <div class="product-size-selection">
                        <p class="product-size-selection-title">
                            سایز:
                        </p>
                        <button class="product-small-action-button">
                            XS
                        </button>
                        <button class="product-small-action-button">
                            S
                        </button>
                        <button class="product-small-action-button">
                            M
                        </button>
                        <button class="product-small-action-button">
                            L
                        </button>
                        <button class="product-small-action-button">
                            XL
                        </button>
                        <button class="product-small-action-button">
                            2XL
                        </button>
                    </div>
                    <div class="product-main-action-buttons-wrapper">
                        <button class="product-add-to-cart-button product-add-to-cart-button-main">
                            افزودن به سبد خرید
                        </button>
                        <button class="product-small-action-button">
                            <i class="bi bi-bookmark-heart"></i>
                        </button>
                    </div>
                    <div class="product-summary">
                        <p class="product-summary-title">توضیحات محصول:</p>
                        <p class="product-summary-text">
                            سایز: S قد: 173 سانتی‌متر، سینه: 84 سانتی‌متر، کمر: 60 سانتی‌متر، باسن: 92 سانتی‌متر
                            <br>
                            <br>
                            ست پیراهن و شلوار ساتن فلور SS، یک ست شلوار ساتن شیک با تم روز ولنتاین است. این ست با طرح‌های قلب، فضایی رمانتیک دارد و ترکیبی عالی از شیک‌پوشی و راحتی را ارائه می‌دهد. بافت ساتن آن در هر لحظه از شب به شما درخشش می‌بخشد و طرح آن، تجربه‌ی خواب گرم و راحتی را فراهم می‌کند. برای کسانی که نمی‌خواهند از شیک‌پوشی خود بگذرند و راحتی را در اولویت قرار می‌دهند، انتخابی ایده‌آل است. این زیبایی ساتن را کشف کنید و روز ولنتاین را به خاص‌ترین شکل جشن بگیرید!
                            <br>
                            <br>
                            پارچه اصلی: ویسکوز 60%، پلی استر 40%
                        </p>
                    </div>
                </div>
                <div class="product-delivery-information">
                    <strong class="product-delivery-information-title">ارسال</strong>
                    <div class="product-delivery-information-card">
                        <p class="product-delivery-information-text">ارسال رایگان برای خریدهای بالای 2000 لیر!</p>
                    </div>
                    <div class="product-delivery-information-card">
                        <strong class="product-delivery-information-title">زمان تحویل تخمینی:</strong>
                        <p class="product-delivery-information-text">12 روز</p>
                    </div>
                </div>
            </div>
            <div class="product-information-wrapper mobile">
                    <h2 class="product-title"><strong>پنتی</strong> پیراهن ساتن فلور، شلوار، پیراهن راه‌راه مشکی - مجموعه عشق پاریس</h2>
                    <div class="product-average-ratings-wrapper">
                        <div class="rating-score">
                            3.5
                        </div>
                        <div class="starts">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-half"></i>
                            <i class="bi bi-star"></i>
                        </div>
                        <strong class="ratings-separator">
                            -
                        </strong>
                        <div class="number-of-ratings">
                            <strong>55</strong> امتیاز
                        </div>
                    </div>
                    <div class="dezh-tecarat-guarantee">
                        <i class="bi bi-patch-check-fill"></i> گارانتی دژ تجارت!
                    </div>
                    <div class="product-price-wrapper">
                        <h1 class="product-price-title">399.99 TL</h1>
                    </div>
                    <div class="product-size-selection">
                        <p class="product-size-selection-title">
                            سایز:
                        </p>
                        <button class="product-small-action-button">
                            XS
                        </button>
                        <button class="product-small-action-button">
                            S
                        </button>
                        <button class="product-small-action-button">
                            M
                        </button>
                        <button class="product-small-action-button">
                            L
                        </button>
                        <button class="product-small-action-button">
                            XL
                        </button>
                        <button class="product-small-action-button">
                            2XL
                        </button>
                    </div>
                    <div class="product-main-action-buttons-wrapper">
                        <button class="product-add-to-cart-button product-add-to-cart-button-main">
                            افزودن به سبد خرید
                        </button>
                        <button class="product-small-action-button">
                            <i class="bi bi-bookmark-heart"></i>
                        </button>
                    </div>
                    <div class="product-summary">
                        <p class="product-summary-title">توضیحات محصول:</p>
                        <p class="product-summary-text">
                            سایز: S قد: 173 سانتی‌متر، سینه: 84 سانتی‌متر، کمر: 60 سانتی‌متر، باسن: 92 سانتی‌متر
                            <br>
                            <br>
                            ست پیراهن و شلوار ساتن فلور SS، یک ست شلوار ساتن شیک با تم روز ولنتاین است. این ست با طرح‌های قلب، فضایی رمانتیک دارد و ترکیبی عالی از شیک‌پوشی و راحتی را ارائه می‌دهد. بافت ساتن آن در هر لحظه از شب به شما درخشش می‌بخشد و طرح آن، تجربه‌ی خواب گرم و راحتی را فراهم می‌کند. برای کسانی که نمی‌خواهند از شیک‌پوشی خود بگذرند و راحتی را در اولویت قرار می‌دهند، انتخابی ایده‌آل است. این زیبایی ساتن را کشف کنید و روز ولنتاین را به خاص‌ترین شکل جشن بگیرید!
                            <br>
                            <br>
                            پارچه اصلی: ویسکوز 60%، پلی استر 40%
                        </p>
                    </div>
                </div>
            <div class="product-carousel-wrapper product-carousel-secondary">
                <h2 class="carousel-title">محصولات مشابه</h2>
                <div class="carousel">
                    <div class="product-container">
                        <div style="background-image: url('https://cdn.dsmcdn.com/ty1553/prod/QC/20240917/08/744b6b35-258e-3d38-ba84-b5a1ea960284/1_org_zoom.jpg');" class="product-image">

                        </div>
                        <p class="product-name-text"><strong>U.S. Polo Assn.</strong> شلوار جین زنانه سفید مام استایل فیت 50266286-dn0015</p>
                        <p class="product-price">923.26₺</p>
                        <button class="product-add-to-cart-button">
                            افزودن به سبد خرید
                        </button>
                    </div>
                    <div class="product-container">
                        <div style="background-image: url('https://cdn.dsmcdn.com/ty1633/prod/QC/20250206/18/4147eaa9-0fcf-37d0-9471-ff9933535020/1_org_zoom.jpg');" class="product-image">

                        </div>
                        <p class="product-name-text"><strong>برشکا</strong> شلوار زنانه روستیک</p>
                        <p class="product-price">1100.00₺</p>
                        <button class="product-add-to-cart-button">
                            افزودن به سبد خرید
                        </button>
                    </div>
                    <div class="product-container">
                        <div style="background-image: url('https://cdn.dsmcdn.com/ty1648/prod/QC/20250307/16/08b8a0db-55a2-3d14-a56c-46bdb756cefd/1_org_zoom.jpg');" class="product-image">

                        </div>
                        <p class="product-name-text"><strong>U.S. Polo Assn.</strong> پیراهن مردانه مشکی اورسایز، یقه اسکوپ 50305810-vr046</p>
                        <p class="product-price">450.00₺</p>
                        <button class="product-add-to-cart-button">
                            افزودن به سبد خرید
                        </button>
                    </div>
                    <div class="product-container">
                        <div style="background-image: url('https://cdn.dsmcdn.com/ty1685/prod/QC/20250526/01/c134b7ed-bba0-3df3-9290-f8d07ff2354b/1_org_zoom.jpg');" class="product-image">

                        </div>
                        <p class="product-name-text"><strong>ماوی</strong> تی‌شرت سفید طرح‌دار میو، فیت معمولی / برش معمولی 1610622-620</p>
                        <p class="product-price">329.00₺</p>
                        <button class="product-add-to-cart-button">
                            افزودن به سبد خرید
                        </button>
                    </div>
                    <div class="product-container">
                        <div style="background-image: url('https://cdn.dsmcdn.com/ty1549/prod/QC/20240916/19/3a315bf4-c867-3945-ae49-155e4357f528/1_org_zoom.jpg');" class="product-image">

                        </div>
                        <p class="product-name-text"><strong>U.S. Polo Assn.</strong> شلوار جین زنانه آبی روشن مام استایل فیت 50263809-dn0021</p>
                        <p class="product-price">1827.96₺</p>
                        <button class="product-add-to-cart-button">
                            افزودن به سبد خرید
                        </button>
                    </div>
                </div>
            </div>
            <div class="product-reviews-wrapper">
                <p class="product-reviews-title">نظرات کاربران</p>
                <div class="product-reviews">
                    <div class="product-review">
                        <div class="product-review-stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        <p class="product-reviewer-name">
                            احمد م.
                        </p>
                        <p class="product-review-text">
                            محصول بسیار خوبی است، همسرم آن را خیلی دوست داشت، قطعا به همه توصیه می‌کنم.
                        </p>
                    </div>
                    <div class="product-review">
                        <div class="product-review-stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        <p class="product-reviewer-name">
                            سلین گ.
                        </p>
                        <p class="product-review-text">
                            محصول بسیار خوبی است، برای راحتی در دوران بارداری خریدم، اگر لباس گشاد و راحتی می‌خواهید می‌توانید یک سایز بزرگتر بخرید. پارچه و بافت آن بسیار خوب است...
                        </p>
                    </div>
                    <div class="product-review">
                        <div class="product-review-stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        <p class="product-reviewer-name">
                            آسلی د.
                        </p>
                        <p class="product-review-text">
                            به نظر من خوب است، سایز خودتان را بگیرید یا یک سایز بزرگتر
                        </p>
                    </div>
                    <div class="product-review">
                        <div class="product-review-stars">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>
                        <p class="product-reviewer-name">
                            مِرال گ.
                        </p>
                        <p class="product-review-text">
                            اولین بار است که ست از پنتی می‌خرم، فعلا فقط می‌توانم بگویم عالی است. بسیار سبک، بسیار راحت. از نظر مدل بسیار زیبا است. اگر بعد از شستشو چروک نشود و جمع نشود، فوق‌العاده خواهد بود. حتماً ست را بخرید.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar-separator" style="margin-top: 25px">
            <div class="colored-block" style="background-color: #f27a1a">

            </div>
            <div class="colored-block" style="background-color: #49C7ED">

            </div>
            <div class="colored-block" style="background-color: #7723DB">

            </div>
            <div class="colored-block" style="background-color: #57B900">

            </div>
            <div class="colored-block" style="background-color: #5D196A">

            </div>
        </div>
        <div class="footer-desktop">
            <div class="footer-column">
                <p class="footer-column-title">شرکت</p>
                <a href="/about" class="footer-link">درباره ما</a>
                <a href="/support" class="footer-link">خدمات مشتریان</a>
                <a href="/careers" class="footer-link">مشاغل</a>
                <a href="/privacy" class="footer-link">امنیت داده ها</a>
                <a href="/security" class="footer-link">خرید امن</a>
            </div>
            <div class="footer-column">
                <p class="footer-column-title">دژ تجارت</p>
                <a href="/faq" class="footer-link">سوالات متداول</a>
                <a href="/campaigns" class="footer-link">کمپین ها</a>
                <a href="/guide" class="footer-link">راهنمای تراکنش</a>
            </div>
            <div class="footer-column desktop">
                <p class="footer-column-title">ما را دنبال کنید</p>
                <a href="/follow/instagram" class="footer-link"><i class="bi bi-instagram footer-icon"></i> <span class="footer-icon-text">اینستاگرام</span></a>
                <a href="/follow/tiktok" class="footer-link"><i class="bi bi-tiktok footer-icon"></i> <span class="footer-icon-text">تیک تاک</span></a>
                <a href="/follow/facebook" class="footer-link"><i class="bi bi-facebook footer-icon"></i> <span class="footer-icon-text">فیس بوک</span></a>
                <a href="/follow/x" class="footer-link"><i class="bi bi-twitter-x footer-icon"></i> <span class="footer-icon-text">ایکس</span></a>
                <a href="/follow/youtube" class="footer-link"><i class="bi bi-youtube footer-icon"></i> <span class="footer-icon-text">یوتیوب</span></a>
            </div>
            <div class="footer-column desktop">
                <p class="footer-column-title">سوالی دارید؟</p>
                <button class="contact-support-button" onclick="document.location = '/support'">با مرکز راه حل تماس بگیرید</button>
                <p class="footer-link">یا</p>
                <a href="mailto:info@dezhtecarat.com" class="footer-link footer-icon">info@dezhtecarat.com</a>
            </div>
        </div>
        <div class="footer-desktop mobile" style="padding-top: 5px">
            <div class="footer-column">
                <p class="footer-column-title">ما را دنبال کنید</p>
                <a href="/follow/instagram" class="footer-link"><i class="bi bi-instagram footer-icon"></i> <span class="footer-icon-text">اینستاگرام</span></a>
                <a href="/follow/tiktok" class="footer-link"><i class="bi bi-tiktok footer-icon"></i> <span class="footer-icon-text">تیک تاک</span></a>
                <a href="/follow/facebook" class="footer-link"><i class="bi bi-facebook footer-icon"></i> <span class="footer-icon-text">فیس بوک</span></a>
                <a href="/follow/x" class="footer-link"><i class="bi bi-twitter-x footer-icon"></i> <span class="footer-icon-text">ایکس</span></a>
                <a href="/follow/youtube" class="footer-link"><i class="bi bi-youtube footer-icon"></i> <span class="footer-icon-text">یوتیوب</span></a>
            </div>
            <br>
            <div class="footer-column">
                <p class="footer-column-title">سوالی دارید؟</p>
                <button class="contact-support-button" onclick="document.location = '/support'">با مرکز راه حل تماس بگیرید</button>
                <p class="footer-link">یا</p>
                <a href="mailto:info@dezhtecarat.com" class="footer-link footer-icon">info@dezhtecarat.com</a>
            </div>
        </div>
    </center>
    <script src="/scripts/search.js"></script>
</body>
</body>
</html>